/* se usa para importar las tipografías */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');



/* variables */
:root{
  --green-color:#7ACC2D;
  --white-color:white;
  --black-color:#313337;
  /* Tipografía */
  --normal:12px;
  /* Espaciado */
  --space:10px;
  /* box-shadow */
  --box:0 0 2px #b7b4b4;
}
/* variables */

html,body{
  padding: 0px;
  margin: 0;
  font-size: var(--normal);
  font-family: 'Open Sans', sans-serif;
}

p, label{
  font-size: var(--normal);
}

label{
  padding-bottom: var(--space);
}

/* estilo de la navbar (encabezado de la pagina) */
/* los estilos se dan por etiquetas asi que es bueno agruparlas */
nav{
  display: flex;
  background-color: var(--green-color);
  padding: var(--space);
  color: var(--white-color);
  justify-content: space-between;
  align-items: center;

}

nav ul{
  display: flex;
}

nav li{
  padding-left: 20px;
  list-style: none;
}

nav li a{
  color: var(--black-color);
  text-decoration: none;
}
nav li a:hover{
  color: var(--white-color);
}


/* estilo de la Main section */
/* .main_section es la manera de crear la clase */
.main_section{
  padding: 10%;
  text-align: center;
}
/* "(../)se usa para decalara que la imagen que buscamos esta fuera de la carpeta de css" */
.products{
  background-image: url("../images/curve.png");
  height: 10px;
  background-size: cover;
  background-position: center top;
  padding: 15%;
  display: flex;
  justify-content: center;
}

.product{
  padding: var(--space);
  text-align: center;
  margin-top: -300px;

}

.product .content{
  background-color: var(--white-color);
  padding: var(--space);
  box-shadow: var(--box);
}

.img_content{
  text-align: center;
}

.main_button{
  background-color: var(--green-color);
  width: 100%;
  padding: var(--space);
  font-size: var(--normal);
  color: var(--white-color);
  border: 0;
  cursor: pointer;
  border-radius: 2px;
}

.content a{
  color: var(--white-color);
  text-decoration: none;
}

.main_button:hover{
  background-color: #64ad20;
}

.descriptions{
  display: flex;
  justify-content: space-between;
  padding: 10%;
  box-shadow: var(--box);
}

.description{
  background-color: var(--white-color);
  text-align: center;
}

.description .content{
  background-color: var(--white-color);
  padding: var(--space);

}

.title{
  padding-top: 5%;
  text-align: center;
  font-size: 1.5em;

}
.mentions{
  display: flex;
  justify-content: center;
  padding: 3%;
}

.mention{
  background-color: var(--white-color);

  padding: var(--space);
}
.mention .content{
    box-shadow: var(--box);
    text-align: justify;
}


.cover{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

.mention .content h3{
  padding-left: var(--space);
  margin: 0;
  font-size: 1.5em;
}

.mention .content p{
  padding: 10px;
  margin: 0;
}


/* ---------------------------------------------sale */

.modulo_pago{
  background-color: var(--white-color);
  box-shadow: var(--box);
  padding: var(--space);
}

.modulo_pago_images{
  max-width: 150px;
  text-align: center;
  width: 100%;
  margin: auto;
}

.data{
  margin-top: var(--space);
  width: 100%;
  height: 35px;
  border-radius: 2px;
  border: 1px solid;
  box-sizing: border-box;
}

.modulo_pago .main_button{
  margin-top: 10px;

}

/* ---------------------------------------------- footer */
footer {
  background-color: var(--black-color);
  padding: 20px;
  align-content: center;
  display: flex;
  justify-content: space-between;
}
footer a{
  color: var(--white-color);
  text-decoration: none;
}
