body{
  background-color: var(--black-color);
  text-align: center;
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* vh: view por height */
}

.content_paypal a{
  color: var(--green-color);
}
